.wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
}
.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.63);
  border-radius: 50%;
}
.card img {
  width: 140px;
  border-radius: 50%;
}
.flexCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 750px) {
  .flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 20px;
  }
  .title {
    font-size: 16px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80px;
  }
  .card img {
    width: 100%;
    height: 70px;
  }
  .title {
    margin: 10px 1rem;
    text-align: center;
  }
}
