
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
body{
  text-decoration: none;
 
  width: 100%;
  height: 100%;
  font-family: "SF Pro Text", -apple-system, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

hr {
  border: none;
  border-top: 1px solid #ccc; /* Color of the horizontal line */
  margin: 10px 0; /* Margin above and below the line */
}

