.wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
   
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0px 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    
    
}
.card img{
    width: 140px;

}
.flexCol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
@media (max-width: 750px) {
    .conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0px ;
    }
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    
    .card{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px 20px;
        width: 70px;
        
    }
    .card img{
        width: 100%;
        height: auto;
    
    }
    .title{
       margin: 10px 1rem;
       text-align: center;
    }
}